---
title: Vila Moa
---

<header class="header of-hero">
	<h1 class="type-hidden">
		Vila Moa
		<%= svg("logo-default", class: "") %>
	</h1>
	<nav class="menu at-landing">
		<ul>
			<li><a class="type-link is-default is-blue" href="/about-us">sobre a gente</a></li>
			<li><a class="type-link is-default is-blue" href="/bedrooms">quartos</a></li>
			<li><a class="type-link is-default is-blue" href="/tips">dicas da cidade</a></li>
			<li><a class="type-link is-default is-blue" href="/booking">reservas</a></li>
		</ul>
	</nav>
	<figure>
		<figcaption class="type-hidden">Ícones com tema praia</figcaption>
		<%= svg("figure-hero-icons-1", class: "figure of-hero at-left") %>
		<%= svg("figure-hero-icons-2", class: "figure of-hero at-right") %>
	</figure>
</header>

<section class="section of-our-place / grid is-content">
	<span>Nosso</span>
	<span>Espaço</span>
	<ul>
		<li><img src="/images/figure-moa-1@2x.png" alt=""></li>
		<li><img src="/images/figure-moa-2@2x.png" alt=""></li>
		<li><img src="/images/figure-moa-3@2x.png" alt=""></li>
		<li><img src="/images/figure-moa-4@2x.png" alt=""></li>
		<li><img src="/images/figure-moa-5@2x.png" alt=""></li>
		<li><img src="/images/figure-moa-6@2x.png" alt=""></li>
	</ul>
	<figure>
		<figcaption class="type-hidden">Ícones com tema praia</figcaption>
		<%= svg("figure-gallery-icons-1", class: "", alt: "") %>
		<%= svg("figure-gallery-icons-2", class: "", alt: "") %>
	</figure>
</section>

<section>
	<h2 class="type-title-section">Blog do Moa</h2>
</section>

<section>
	<h2 class="type-title-section">Como Chegar</h2>
	<a class="type-link is-pill is-yellow" href="">Ver no Google Maps</a>
</section>
